#download-today-economic {
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-left: 15px;
}

.button-placement{
    margin-top: 15px; 
    margin-bottom: 15px;
}

.input-fields{
    margin-right: 15px; 
    margin-top: 10px
}